*{
    margin: 0;
}
ul{
    padding: 0;
    margin-left: 5px;
}
.main{
    display: flex;
    border-bottom: 1px solid gray;
    padding: 10px 10px;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    max-width: 400px;
}
.main:nth-child(1){
    border-top: 1px solid gray;
    padding-top: 10px;
    margin: 5px 0px 0px 0px;
    border-radius: 10px 10px 0px 0px;
}
.main:nth-last-child(1){
    border-radius: 0px 0px 10px 10px;
}
.content{
    padding-left: 5px;
}
.names{
    font-size: x-large;
}
.numbers{
    font-size: 15px;
}
.chats{
    font-size: 15px;
    padding: 5px 0px;
}
.times{
    font-size: 15px;
}
.profile-pics{
    height: 70px;
    border: 2px solid gray;
    border-radius: 50%;
    width: 70px;
    margin-block-start: 2px;
}